@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    appearance: none;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    flex: 1;
    font-family: "Inter", sans-serif;
    color: #000;
}

select {
    color: #000;
}

button:first-child {
    background-color: hsl(147, 50%, 50%);
    color: #fff;
}

button:first-child:hover {
    background-color: hsl(147, 50%, 46%);
}

/* The SVG fills the remaining space (under the buttons) */
svg {
    border: 1px solid #ccc;
    background: #fff;
    display: block;
    cursor: grab;
}

.link {
    stroke: #999;
    stroke-width: 2px;
    fill: none;
    stroke-linecap: round;
}

.linkText {
    font-size: 12px;
    fill: #000;
    pointer-events: all;
    stroke: none;
    cursor: pointer;
    transform: translate(-3px, 3px);
}

.node {
    cursor: pointer;
}

.node text {
    pointer-events: none;
    font-size: 14px;
}

/* Context menu styles */
#context-menu {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 270px;
}

#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

#context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
    padding-left: 50px;
    white-space: nowrap;
}

#context-menu li:hover {
    background: #eee;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
    padding-left: 50px;
    white-space: nowrap;
}

/* Modal-Styles */
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

#modal div:has(button) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 12px;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

body:has(#modal[style*="display: block"]) .background {
    display: block;
}


#modal-title {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 18px;
}

#modal-content {
    margin-bottom: 16px;
}

#modal select,
#modal input[type="text"] {
    appearance: none;
    border: 2px solid #ccc;
    outline: none;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
}

#clonedSvg {
    z-index: -1000;
}

/* Menu Bar */
.menu-bar {
    background-color: #333;
    display: flex;
}
.menu-item {
    position: relative;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #555;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.dropdown a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
    padding-left: 50px;
    white-space: nowrap;
}
.dropdown a.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.dropdown a:hover {
    background-color: #ddd;
}
.menu-item:hover .dropdown {
    display: block;
}
.footer {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 36px;
}
input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent; /* Hintergrund für Firefox entfernen */
}

input[type=range]:focus {
    outline: none;
}

/* Webkit Browsers (Chrome, Safari, Edge) */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #d4d4d4;
    border-radius: 10px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 6px;
    border-radius: 3px;
    background: #747474;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

/* Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #d4d4d4;
    border-radius: 10px;
    border: none;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 6px;
    border-radius: 3px;
    background: #747474;
    cursor: pointer;
    border: none;
}

/* Internet Explorer */
input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #d4d4d4;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #d4d4d4;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    height: 16px;
    width: 6px;
    border-radius: 3px;
    background: #747474;
    cursor: pointer;
}
.footer .zoom {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
    padding-right: 12px;
}
#zoom-text {
    width: 46px;
    text-align: center;
    font-size: 14px;
}
#projectname {
    padding: 0 12px;
    line-height: 36px;
    cursor: pointer;
}

#projectname:hover {
    background-color: #e2e2e2;
}
#back-to-content {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}